//設定顏色變數
$color_red:#AA0601;
$color_darkRed:#650300;
$color_bgPink:#fbf2f2;
$color_gray:#F2F2F2;
$color_yellow:#f6c600;
$color_borderGray:#DEE2E6;
$color_lightGray:#707070;

//設定文字字型
$font_english:"Roboto", sans-serif;