@import  "_setting.scss";

body{
  font-family: "Microsoft JhengHei",sans-serif;
  font-size: 20px;
}

img{
  display: block;
  max-width: 100%;
}

.header{
  background-color: $color_red;
  color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;

}



//電腦版選單
.nav{
  display: flex;
  justify-content: space-around;
  width: 412px;

   li a{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    text-decoration: none;
  }
}

//手機版選單
.navM{
  display: none;
}

.burgerBar{
  display: none;
}

.container{
  max-width:1200px;
  margin:0 auto;
}

//footer
.footer{
  background-color: $color_red;
  padding-top: 48px;
  color: white;
  font-size: 16px;
}

.footernav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  a{
    color:white;
  }
}

.footerMenu{
  display:flex;

  li{
    margin-right: 48px;
  }
}

.footerIcon{
  display:flex;
  li{
    margin-left: 32px;
  }
}

.footerContect{
  border-bottom: 1px solid white;
  margin-bottom: 24px;

  .contect{
  display:flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 18px;

    .phone{
      margin-right: 23px;
    }

    .email{
      margin-right: 12px;
    }

    p{
      font-size: 36px;
      font-family: $font_english;
    }

  }
}

.copyright{
  display:flex;
  justify-content: space-between;
  padding-bottom: 27px;

  ul{
    display: flex;
    align-items: center;
  }

  li img{
    margin-right: 38px;
  }

  .copyrightMenu{
    width: 188px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    a{
      color: white;
    }
  }

}

.mb-1{
  margin-bottom: 16px;
}

//小版本container
.smContainer{
  width: 41.6%;
  margin: 0 auto;
}


//1200px以下畫面
@media (max-width:1200px){
  .container{
    width: 90%;
  }
  .smContainer{
    width: 60%;
  }
}



//992px以下畫面
@media (max-width:992px){

  .header a {
    margin-left: 48px;
  }
  .smContainer{
    width: 70%;
  }
}



//768px以下畫面
@media (max-width:768px){
  .header{
    padding-left: 48px;
    padding-right: 48px;
  }

  .header a {
    width: 48px;
    height: 30px;
    margin: 10px;
  }


.footerNav{
  padding-bottom: 24px;
}

  .footerMenu{

    li{
      margin-right: 40px;
    }
  }

  .footerIcon{
    li{
      margin-left: 24px;
      width: 24px;
    }
  }

  .footerContect{
    .contect{
      margin-bottom: 9px;

      .phone{
        width: 23px;
        margin-right: 12px;
      }

      .email{
        width: 32px;
        margin-right: 8px;
      }

      p{
        font-size: 20px;
      }

    }
  }

  .copyright{
    img{
      display:none;
    }
  }

  .copyrightMenu{
    width: 150px;
  }

  .container{
    max-width: 672px
  }

  .smContainer{
    width: 66.1%;
  }

}


//576px以下畫面
@media (max-width:576px){
  .header{ 
    padding-left: 0;
    padding-right: 0;
    a {
      width: 48px;
      height: 30px;
      margin: 10px;
    }
  }

  .nav{
    font-size: 14px;
  }
  .footernav{
    justify-content: flex-end;
    padding-bottom: 0;
  }

  .footerMenu{
    display: none;
  }

  .footerContect{
    margin-top: -20px;

    .phone{
      width: 13px;
      margin-right: 8px;
    }

    .email{
      width: 20px;
      margin-right: 5px;
    }

    p{
      font-size: 16px;
    }

  }

  .copyright{
    font-size: 14px;
    flex-direction: column;
    position:relative;

    li{
      margin-bottom: 8px;

      img{
        display: block;
        position: absolute;
        bottom: 24px;
        right: 0;
        width: 46px;
        margin-right: 0;
    
      }
  
    }


    .copyrightMenu{
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .container{
    width:90%;
  }
  .smContainer{
    width: 90%;
  }

}


//375px以下畫面
@media (max-width:375px){
  .header{
    height: 50px;
    position: relative;
     a{
        margin:10px auto;
      }
  }

//電腦版選單
  .nav{
    display: none;
  }

//手機版選單
  .navM{
    display:initial;
    width: 100%;
    position: absolute;
    z-index: 99;
    left: -375px;
    transition-duration: 0.5s;

    li a{
      text-decoration: none;
      color: white;
      background-color: $color_red;
      display: block;
      line-height: 52px;
      border-bottom: 1px solid white;
      text-align: center;
    }
  }

  .navM.show{
    left: 0;
  }

  .logo{
    width:48px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .burgerBar{
    display: block;
    position: absolute;
    left: 16px;
    top:13px;
  }

 



  

  

}